<?xml version="1.0"?>
<config>
    <modules>
        <CoolRunner_CoolShipping>
            <version>0.1.0</version>
            <name>CoolShipping</name>
        </CoolRunner_CoolShipping>
    </modules>
    <global>
        <blocks>
            <coolrunner>
                <class>CoolRunner_CoolShipping_Block</class>
            </coolrunner>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>CoolRunner_CoolShipping_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <coolrunner>
                <class>CoolRunner_CoolShipping_Helper</class>
            </coolrunner>
            <ooolshipping>
                <class>CoolRunner_CoolShipping_Helper</class>
            </ooolshipping>
        </helpers>
        <models>
            <coolrunner>
                <class>CoolRunner_CoolShipping_Model</class>
                <resourceModel>coolrunner_resource</resourceModel>
            </coolrunner>
            <coolrunner_resource>
                <class>CoolRunner_CoolShipping_Model_Resource</class>
                <entities>
                    <order_pdf>
                        <table>coolrunner_coolshipping_sales_order_pdf</table>
                    </order_pdf>
                    <order_info>
                        <table>coolrunner_coolshipping_sales_order_info</table>
                    </order_info>
                </entities>
            </coolrunner_resource>
        </models>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <coolrunner_core_block_abstract_prepare_layout_before>
                        <class>coolrunner/observer</class>
                        <method>addMassAction</method>
                    </coolrunner_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <coolrunner_save_quote_data>

                        <type>singleton</type>
                        <class>CoolRunner_CoolShipping_Model_Observer</class>
                        <method>saveQuoteData</method>
                    </coolrunner_save_quote_data>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <gomage_checkout_save_quote_before>
                <observers>
                    <coolrunner_save_quote_data>
                        <type>singleton</type>
                        <class>CoolRunner_CoolShipping_Model_Observer</class>
                        <method>saveQuoteData</method>
                    </coolrunner_save_quote_data>
                </observers>
            </gomage_checkout_save_quote_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <coolrunner_save_data_on_order>
                        <type>singleton</type>
                        <class>CoolRunner_CoolShipping_Model_Observer</class>
                        <method>saveDataOnOrder</method>
                    </coolrunner_save_data_on_order>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        <resources>
            <coolrunner_setup>
                <setup>
                    <module>CoolRunner_CoolShipping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </coolrunner_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <coolshipping module="CoolRunner_CoolShipping">
                    <file>coolshipping.xml</file>
                </coolshipping>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <coolrunner_append_droppoint_html>
                        <type>singleton</type>
                        <class>CoolRunner_CoolShipping_Model_Observer</class>
                        <method>appendDroppointHtml</method>
                    </coolrunner_append_droppoint_html>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <CoolRunner_CoolShipping>
                    <files>
                        <default>CoolRunner_CoolShipping.csv</default>
                    </files>
                </CoolRunner_CoolShipping>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <coolrunner>
                            <title>CoolRunner</title>
                        </coolrunner>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <coolrunner>
                                            <title>Behandling af ordrer</title>
                                        </coolrunner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <coolshipping>
                    <file>coolshipping.xml</file>
                </coolshipping>
            </updates>
        </layout>
        <translate>
            <modules>
                <CoolRunner_CoolShipping>
                    <files>
                        <default>CoolRunner_CoolShipping</default>
                    </files>
                </CoolRunner_CoolShipping>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <coolrunner>
                <use>admin</use>
                <args>
                    <module>CoolRunner_CoolShipping</module>
                    <frontName>coolrunner</frontName>
                </args>
            </coolrunner>
            <coolrunner_shipping_labels>
                <use>admin</use>
                <args>
                    <module>CoolRunner_CoolShipping</module>
                    <frontName>coolshipping</frontName>
                </args>
            </coolrunner_shipping_labels>
            <adminhtml>
                <args>
                    <modules>
                        <CoolRunner_CoolShipping before="Mage_Adminhtml">CoolRunner_Shipping</CoolRunner_CoolShipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <coolrunner>
            <settings>
                <!--<download>1</download>-->
                <print_size>LabelPrint</print_size>
                <cache>1</cache>
                <show_logos>1</show_logos>
                <add_package_number_to_shipment>1</add_package_number_to_shipment>
                <create_shipment>1</create_shipment>
            </settings>
        </coolrunner>
        <carriers>
            <coolrunner_dao>
                <active>1</active>
                <model>coolrunner/carrier_dao</model>
                <title>DAO</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_dao>
            <coolrunner_postnord>
                <active>1</active>
                <model>coolrunner/carrier_postnord</model>
                <title>Postnord</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_postnord>
            <coolrunner_gls>
                <active>1</active>
                <model>coolrunner/carrier_gls</model>
                <title>GLS</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_gls>
            <coolrunner_bring>
                <active>1</active>
                <model>coolrunner/carrier_bring</model>
                <title>Bring</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_bring>
            <coolrunner_dhl>
                <active>1</active>
                <model>coolrunner/carrier_dhl</model>
                <title>DHL</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_dhl>
            <coolrunner_coolrunner>
                <active>1</active>
                <model>coolrunner/carrier_coolrunner</model>
                <title>Coolrunner</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_coolrunner>
            <coolrunner_posti>
                <active>1</active>
                <model>coolrunner/carrier_posti</model>
                <title>Posti</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </coolrunner_posti>
        </carriers>
    </default>
</config>