<?xml version="1.0"?>
<config>
    <tabs>
        <coolrunner translate="label" module="coolrunner">
            <label>CoolRunner</label>
            <sort_order>1</sort_order>
        </coolrunner>
    </tabs>

    <sections>
        <coolrunner module="coolrunner" translate="label">
            <label>CoolShipping Settings</label>
            <tab>coolrunner</tab>
            <frontend_type>text</frontend_type>
            <sort_order>330</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <information translate="label">
                    <label>CoolShipping Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <frontend_model>coolrunner/adminhtml_system_config_info_version</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <debug_mode>
                            <label>Enable debug mode</label>
                            <sort_order>70</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_mode>
                    </fields>
                </information>

                <settings translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <sort_order>0</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <email translate="label">
                            <label>CoolRunner Email</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                        <token translate="label">
                            <label>CoolRunner Token</label>
                            <sort_order>11</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </token>
                        <cache translate="label">
                            <label>Cache Type</label>
                            <sort_order>12</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>coolrunner/adminhtml_system_config_source_cacheType</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache>
                        <!--<download translate="label">-->
                        <!--<label>Download after create</label>-->
                        <!--<sort_order>20</sort_order>-->
                        <!--<frontend_type>select</frontend_type>-->
                        <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                        <!--<show_in_default>1</show_in_default>-->
                        <!--<show_in_website>0</show_in_website>-->
                        <!--<show_in_store>0</show_in_store>-->
                        <!--</download>-->
                        <print_size translate="label">
                            <label>Print Size</label>
                            <sort_order>30</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>coolrunner/adminhtml_system_config_source_printSize</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </print_size>
                        <add_package_number_to_shipment translate="label">
                            <label>Add package number to Magento Shipment automatically</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </add_package_number_to_shipment>
                        <create_shipment translate="label">
                            <label>Create shipment on order if no shipment has been made</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <add_package_number_to_shipment>1</add_package_number_to_shipment>
                            </depends>
                        </create_shipment>
                        <send_shipment_mail translate="label">
                            <label>Send Magento shipping mail to customer after package number is added</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <add_package_number_to_shipment>1</add_package_number_to_shipment>
                            </depends>
                        </send_shipment_mail>
                        <show_logos translate="label">
                            <label>Show carrier logos in checkout</label>
                            <sort_order>70</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_logos>
                    </fields>
                </settings>

                <sender translate="label">
                    <label>Sender Address</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <name translate="label">
                            <label>Company</label>
                            <sort_order>0</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <attention translate="label">
                            <label>Attention</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attention>
                        <street1 translate="label">
                            <label>Street 1</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street1>
                        <street2 translate="label">
                            <label>Street 2</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street2>
                        <zipcode translate="label">
                            <label>Zip Code</label>
                            <sort_order>40</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </zipcode>
                        <city translate="label">
                            <label>City</label>
                            <sort_order>50</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city>
                        <country translate="label comment">
                            <label>Country</label>
                            <sort_order>60</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>coolrunner/adminhtml_system_config_source_countries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <phone translate="label">
                            <label>Phone</label>
                            <sort_order>70</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phone>
                        <email translate="label">
                            <label>Email</label>
                            <sort_order>80</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email>
                    </fields>
                </sender>

                <package translate="label">
                    <label>Package Sizes</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <size translate="label">
                            <label>Package Sizes</label>
                            <frontend_model>coolrunner/adminhtml_system_config_packageSize</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </size>
                    </fields>
                </package>

                <rates translate="label">
                    <label>Freight Rates</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <carrier_options translate="label">
                            <label>Freight Rates</label>
                            <frontend_model>coolrunner/adminhtml_system_config_fieldMappingRates</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </carrier_options>
                    </fields>
                </rates>

                <cache translate="label">
                    <label>CoolShipping Cache Control</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <frontend_model>coolrunner/adminhtml_system_config_info_cache</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                    </fields>
                </cache>
            </groups>
        </coolrunner>
        <carriers translate="label" module="shipping">
            <groups>
                <coolrunner_dao translate="label">
                    <label>CoolRunner | DAO</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </coolrunner_dao>
                <coolrunner_bring translate="label">
                    <label>CoolRunner | Bring</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </coolrunner_bring>
                <coolrunner_postnord translate="label">
                    <label>CoolRunner | Post Danmark</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </coolrunner_postnord>
                <coolrunner_gls translate="label">
                    <label>CoolRunner | GLS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </coolrunner_gls>
                <coolrunner_dhl translate="label">
                    <label>CoolRunner | DHL</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </coolrunner_dhl>
            </groups>
        </carriers>
    </sections>
</config>
